
  <div class="card-group">
      <div class="row">
          <div class="card col-md-4">
              <img class="card-img-top" src="/assets/image6.jpg"/>
              <div class="card-body">
                  <h3 class="card-title">Playstation</h3>
                  <p class="card-text">Playing Games</p>
              </div>
          </div>

          <div class="card col-md-4">
              <img class="card-img-top" src="/assets/image7.jpg">

              <div class="card-body">
                  <h3 class="card-title text-primary">AirBodes</h3>
                  <p class="card-text">Sudo Placement Course</p>
              </div>
          </div>

          <div class="card col-md-4">
              <img class="card-img-top" src="/assets/image8.jpg">

              <div class="card-body">
                  <h3 class="card-title">LapTop</h3>
                  <p class="card-text">DS & Algo Course</p>
              </div>
          </div>
      </div>

      <div class="row">
        <div class="card col-md-4">
            <img class="card-img-top" src="/assets/image5.jpg"/>
            <div class="card-body">
                <h3 class="card-title">HeadPhone</h3>
                <p class="card-text">JavaScript | Python</p>
            </div>
        </div>

        <div class="card col-md-4">
            <img class="card-img-top" src="/assets/image2.jpg">

            <div class="card-body">
                <h3 class="card-title text-primary">HeadPhone</h3>
                <p class="card-text">Sudo Placement Course</p>
            </div>
        </div>

        <div class="card col-md-4">
            <img class="card-img-top" src="/assets/image4.jpg">

            <div class="card-body">
                <h3 class="card-title">Camera</h3>
                <p class="card-text">DS & Algo Course</p>
            </div>
        </div>


    </div>
  </div>
